<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Result</title>
</head>
<body>
    <fieldset>
        <p>Name: <h3>@ViewBag.name</h3></p>
        <p>Location: <h3>@ViewBag.location</h3></p>
        <p>Favorite Language: <h3>@ViewBag.language</h3></p>
        <p>Comment: <h3>@ViewBag.comment</h3></p>
        
        <a href="/">Go Back</a>
    </fieldset>
</body>
</html>