<!DOCTYPE html>
@model List<int>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
        <h1>Here is a Number</h1>
        @foreach(int digit in Model){
            <p>@digit</p>
        }
        
    </body>
</html>
