@model User
<h1>Register A User!</h1>
 @if(ViewBag.AlreadyInUseEmail == true) {<p>Email already in use!</p>}  

@if(ViewBag.PasswordError != null) {
    <p>@ViewBag.PasswordError</p>
}
<form action="RegisterUser" method="post">
    <p><span asp-validation-for="FirstName"></span></p>
    <label>Name:</label>
    <input asp-for="FirstName"><br>
    
    <p><span asp-validation-for="LastName"></span></p>
    <label>Alias:</label>
    <input asp-for="LastName"><br>


    <p><span asp-validation-for="Email"></span></p>          
    <label>Email:</label>
    <input asp-for="Email"><br>


    <p><span asp-validation-for="Password"></span></p>
    <label>Password:</label>
    <input type="password" asp-for="Password"><br>

    <label>Confirm Password:</label>
    <input type="password" name="ConfirmPassword"><br>

    <input class="btn-success" type="submit">
    <br>
    <br>
    <br>
</form> 

<form action="LoginUser" method="post">
    <label>Email:</label>
    <input type="text" name="Email"><br>

    <label>Password:</label>
    <input type="password" name="Password"><br>

    <input class="btn-primary" type="submit">
</form>

<p>@ViewBag.loginError</p>
