

<html>
    <head>
        <title>message</title>
    </head>
    <body>
       <form action="submit" method="POST">
           <p><label for="createmessage">Post a message</label></p>
           <p><textarea name="createmessage" cols="100" rows="2"></textarea></p>
           <p><input type="submit" value="Add a message"></p>
       </form>
    </body>
</html>