@model Person
<div>
    <form asp-action="login" asp-controller="Home" method="POST">
        <!-- <span asp-validation-for="Email"></span> -->
        <p><label for="Email">Email</label></p>
        <p><input type="text" name="Email"></p>
        <!-- <span asp-validation-for="PasswordToCheck"></span> -->
        <p><label type="text" for="PasswordToCheck">Password</label></p>
        <p><input type="text" name="PasswordToCheck"></p>
        <p><button type="submit">Login</button></p>
    </form>
    <p><a href="Index">Need to Register?</a></p>
</div>


